{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-md-12">
        {{ with .Content }}

          <div id='map' style="width: 100%; height: 500px; position: relative;">
            <div id='console' class='map-overlay top' >
              <h4>CuantasMas</h4>
              <div class='map-overlay-inner'>
               <fieldset>
                   <label>Seleccionar capa</label>
                   <select id='layer' name='layer'>
                       <option value='mujeres'>cuantasmas</option>
                   </select>
               </fieldset>
               <fieldset>
                   <label>Colores</label>
                   <div id='swatches'></div>
               </fieldset>
           </div>
              <p>Datos: <a href='https://cuantasmas.org/'>es un proyecto que realiza monitoreo y </br> levantamiento de datos sobre los casos de feminicidio  en </a>Bolivia, Julio 2018</p>
            </div>
          </div>

          <script src="https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js"></script>
          <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css" />
          <style>
          .map-overlay {
              font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
              position: absolute;
              width: 200px;
              top: 0;
              left: 0;
              padding: 10px;
              z-index: 1000;
          }

          .map-overlay .map-overlay-inner {
              background-color: #fff;
              box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
              border-radius: 3px;
              padding: 10px;
              margin-bottom: 10px;
          }

          .map-overlay-inner fieldset {
              border: none;
              padding: 0;
              margin: 0 0 10px;
          }

          .map-overlay-inner fieldset:last-child {
              margin: 0;
          }

          .map-overlay-inner select {
              width: 100%;
          }

          .map-overlay-inner label {
              display: block;
              font-weight: bold;
              margin: 0 0 5px;
          }

          .map-overlay-inner button {
              display: inline-block;
              width: 36px;
              height: 20px;
              border: none;
              cursor: pointer;
          }

          .map-overlay-inner button:focus {
              outline: none;
          }

          .map-overlay-inner button:hover {
              box-shadow:inset 0 0 0 3px rgba(0, 0, 0, 0.10);
          }
          </style>
          <script>
          mapboxgl.accessToken = 'pk.eyJ1Ijoibm9lbWluYW8iLCJhIjoiY2pqdmtjd2tyMWllNDNrbWhzMTNoZG4zNCJ9.K-3q1cPjJN4mRD7HMQtcHg';
          var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/light-v9',
          zoom: 4,
          center: [-63.1843, -17.7793]
          });

          var swatches = document.getElementById('swatches');
          var layer = document.getElementById('layer');
          var colors = [
              '#ffffcc',
              '#a1dab4',
              '#41b6c4',
              '#2c7fb8',
              '#253494',
              '#fed976',
              '#feb24c',
              '#fd8d3c',
              '#f03b20',
              '#bd0026'
          ];

          colors.forEach(function(color) {
              var swatch = document.createElement('button');
              swatch.style.backgroundColor = color;
              swatch.addEventListener('click', function() {
                  map.setPaintProperty(layer.value, 'fill-color', color);
              });
              swatches.appendChild(swatch);
          });
          map.on('load', function () {
            map.addSource("mujeres", {
                      type: "geojson",
                      data: "data/mujeres.geojson",
                      cluster: true,
                      clusterMaxZoom: 4,
                      clusterRadius: 50
                  });

              map.addLayer({
                 id: "clusters",
                 type: "circle",
                 source: "mujeres",
                 filter: ["has", "point_count"],
                 paint: {
                     "circle-color": [
                         "step",
                         ["get", "point_count"],
                         "#51bbd6",
                         100,
                         "#f1f075",
                         750,
                         "#f28cb1"
                     ],
                     "circle-radius": [
                         "step",
                         ["get", "point_count"],
                         20,
                         100,
                         30,
                         750,
                         40
                     ]
                 }
             });

             map.addLayer({
                 id: "cluster-count",
                 type: "symbol",
                 source: "mujeres",
                 filter: ["has", "point_count"],
                 layout: {
                     "text-field": "{point_count_abbreviated}",
                     "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
                     "text-size": 12
                 }
             });

             map.addLayer({
                 id: "unclustered-point",
                 type: "circle",
                 source: "mujeres",
                 filter: ["!has", "point_count"],
                 paint: {
                     "circle-color": "#11b4da",
                     "circle-radius": 4,
                     "circle-stroke-width": 1,
                     "circle-stroke-color": "#fff"
                 }
             });


             map.on('click', 'clusters', function (e) {
                 var features = map.queryRenderedFeatures(e.point, { layers: ['clusters'] });
                 var clusterId = features[0].properties.cluster_id;
                 map.getSource('mujeres').getClusterExpansionZoom(clusterId, function (err, zoom) {
                     if (err)
                         return;

                     map.easeTo({
                         center: features[0].geometry.coordinates,
                         zoom: zoom
                     });
                 });
             });

             map.on('mouseenter', 'clusters', function () {
                 map.getCanvas().style.cursor = 'pointer';
             });
             map.on('mouseleave', 'clusters', function () {
                 map.getCanvas().style.cursor = '';
             });
          });
          </script>
        {{ end }}

        <div class="posts-list">
          {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
          {{ range $pag.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                  {{ .Params.subtitle }}
                  </h3>
                {{ end }}
              </a>

              {{ partial "post_meta.html" . }}
              <div class="post-entry">
                {{ if .Truncated }}
                  {{ .Summary }}
                  <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                {{ else }}
                  {{ .Content }}
                {{ end }}
              </div>

              {{ if .Params.tags }}
                <span class="post-meta">
                {{ range .Params.tags }}
                  #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
                {{ end }}
                </span>
              {{ end }}
            </article>
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
